{ pkgs ? import (builtins.fetchGit {
  # Descriptive name to make the store path easier to identify
  name = "nixos-unstable-";
  url = "https://github.com/nixos/nixpkgs/";
  ref = "refs/heads/nixpkgs-unstable";
  rev = 
}) {} }:
{
  inherit (pkgs)
    zsh
    antigen
    bat
    curl
    delta
    exa
    firefox
    iproute2
    gnused
    gnugrep
    gobuster
    netkittftp
    libressl
    p7zip
    python3
    tcpdump
    tmux
    vim;
}